[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/ds-auth"]
	path = lib/ds-auth
	url = https://github.com/dapphub/ds-auth
[submodule "lib/Ds-note"]
	path = lib/Ds-note
	url = https://github.com/dapphub/Ds-note
[submodule "lib/ds-note"]
	path = lib/ds-note
	url = https://github.com/dapphub/ds-note
